@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  padding-block: 80px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(138, 4, 138),
    rgb(134, 6, 62),
    purple
  );
  min-height: 100vh;
}

/* Grid Layout */
.grid-wrapper {
  --space-lr: 40px;
  --space-gap: 20px;
  --col-count: 2;

  @media (width >= 43.75em) {
    --space-lr: 80px;
    --space-gap: 30px;
    --col-count: 6;
  }

  @media (width >= 62.5em) {
    --space-gap: 40px;
    --col-count: 12;
  }

  @media (width >= 90em) {
    --space-gap: 80px;
    --col-count: 16;
  }

  display: grid;
  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), 60rem) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    1fr;
  gap: var(--space-gap);
}

/* Code minimized by using variable */
/* @media (width >= 43.75em) {
    grid-template-columns:
      1fr repeat(6, calc((min(100% - 80px, 60rem) - 5 * 30px) / 6))
      1fr;
    gap: var(--space-gap);
  }

  @media (width >= 62.5em) {
    grid-template-columns:
      1fr repeat(12, calc((min(100% - 80px, 68rem) - 11 * 30px) / 12))
      1fr;
    gap: var(--space-gap);
  } */
/* Code minimized by using variable */

.hero-content {
  align-self: center;
  grid-column: 2/-2;

  @media (width >= 43.75em) {
    grid-column: 2/5;
  }
  @media (width >= 62.5em) {
    grid-column: 2/8;
  }
  @media (width >= 90em) {
    grid-column: 2/8;
  }
}
.hero-image {
  z-index: -1;
  grid-column: 2/-1;

  @media (width >= 43.75em) {
    grid-column: 5/-1;
  }
  @media (width >= 62.5em) {
    grid-column: 8/14;
  }
  @media (width >= 90em) {
    grid-column: 9/18;
  }
}
/* Grid Layout END */

/* Hero Content Styling */
h1 {
  position: relative;
  color: white;
  font-size: 2rem;
  font-size: clamp(2rem, 1.5145631067961165rem + 2.071197411003236vw, 4rem);
  max-width: 100%;
  white-space: nowrap;
  z-index: 1;
}

p {
  color: rgba(255, 255, 255, 0.707);
  max-width: 45ch;
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8446601941747572rem + 0.12944983818770225vw,
    1rem
  );
  padding-block: 20px;
}
a {
  font-size: 1.125rem;
  font-size: clamp(
    1.125rem,
    1.0643203883495145rem + 0.2588996763754045vw,
    1.375rem
  );
}

.underline-effect {
  position: relative;
  text-decoration: underline;
  text-transform: capitalize;
  color: white;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-color: darkblue;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

.underline-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: darkblue;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  z-index: -1;
}

.underline-effect:hover::after,
.underline-effect:focus::after {
  transform: scaleX(1);
  transform-origin: left;
  text-decoration: none;
}
/* Hero Content Styling END */
